- content_for :title do
  CV

- content_for :body_class do
  cv

- content_for :content do
  %h1 CV

  :markdown
    I am a software engineer based in Brighton, East Sussex. I currently work for [3ev](http://3ev.com/), an award-winning agency in nearby Hove.

  %section.full-width.big-list
    %h1 Experience

    %ul
      %li
        %h2
          %span.item Senior Developer
          %span.location 3ev
          %span.date May 2012 - Present

        :markdown
          My role at 3ev mostly entails coding from start to first release
          on new projects, but my senior position also means that I provide
          support to other developers and lead and plan development.

          The bulk of projects at 3ev are written either in [TYPO3](http://typo3.org/)
          or [Laravel](http://laravel.com/), so I spend a lot of time coding in
          PHP. I work across the stack though and so also regularly work at the
          OS level and on the frontend.

          I have spent a lot of time over the last 9 months improving tooling and
          our development workflow. I have incorporated dependency management,
          improved our asset pipeline and changed our Git workflow to the model
          used [by GitHub](http://scottchacon.com/2011/08/31/github-flow.html).
          I have also recently put an emhpasis on BDD and automated testing and
          deployment using [PhpSpec](http://www.phpspec.net/), [Behat](http://behat.org/)
          and [Capistrano](http://capistranorb.com/).

      %li
        %h2
          %span.item Developer
          %span.location North Laine Solutions Ltd.
          %span.date October 2010 - April 2012

        :markdown
          I worked for a digital media company based in Brighton. I was part of a small development team, and worked on a variety of bespoke projects, mostly as a PHP developer. I gained the position during my final year of university, and was offered a full-time role after completing my degree.

          The small size of the company meant that I regularly managed projects and interfaced with clients, and I improved my ability to convey technical details in an easy-to-understand manor.

      %li
        %h2
          %span.item Developer
          %span.location Animazoo Ltd.
          %span.date June 2011 - July 2011

        :markdown
          I worked as a C++ developer for a successful motion capture company. The role was unpaid, but I was given the opportunity to work on redesigning and building their core motion capture software. I was involved with initial designs and code structure, and helped to layout the core of the project using the Qt framework.

  %section.full-width.big-list
    %h1 Education

    %ul
      %li
        %h2
          %span.item BSc Computer Science: First Class Honours
          %span.location University of Sussex
          %span.date 2008 - 2011

        :markdown
          ### Relevant Courses

          Programming Paradigms, Program Analysis, Software Engineering,
          Mathematics for Computer Science Applications, Program Design,
          Technical Communication Skills, Databases, Limits of Computation,
          Concurrent Programming

          ### Dissertation - Translating a Game Engine: Improving 3D Games for the Android OS

          My dissertation project involved porting a Java 3D game engine for the
          Android OS to C++. [The engine](https://github.com/BenConstable/Sangwin-Game-Engine) was centered around an OpenGL renderer, and also included modules for
          collision detection, input handling and resource loading.

          The project was an exploration into language usage and performance on
          mobile devices. The resultant port showed definitive performance
          improvements, and also defined a framework for building games easily
          with C++ and Java for Android.

      %li
        %h2
          %span.item A-Levels
          %span.location Chichester College
          %span.date 2006 - 2008

        :markdown
          Mathematics - A, Physics - A, Music - B, Photography (AS-Level) - B

  %section.full-width.big-list
    %h1 Skills

    %ul
      %li
        :markdown
          * I have 3 years industry experience in PHP. I am comfortable with a
          variety of frameworks (like Symfony and Laravel), and with building
          large scale enterprise and e-commerce applications using
          [TYPO3 CMS](http://typo3.org/) and [Magento](http://magento.com/). I
          keep up to date with the PHP ecoystem, and have a good working knowledge
          of the latest and most widely used libraries
          * Highly competent in working with a variety of relational and NoSQL
          databases
          * Good working knowledge of effective application level and client-side
          caching, including using tools like [Memcached](http://memcached.org/)
          and [New Relic](http://newrelic.com/) to track down and reduce bottlenecks
          * Very competent in building markup with HTML5 and CSS, and working
          with preprocessors like [HAML](http://haml.info/), [Jade](http://jade-lang.com/),
          [SASS](http://sass-lang.com/) and [LESS](http://lesscss.org/). I also
          have a good understanding of browser pitfalls and gracefull fallbacks
          to older technologies
          * Firm working knowledge of both pure client-side JavaScript and
          selector-based frameworks such as jQuery and Zepto. Conscious of modern
          approaches to JavaScript development, incuding AMD and CommonJs module
          patterns and MV* frameworks like [Backbone.js](http://backbonejs.org/)
          * Experience of coding with a variety of other languages and platforms,
          like Ruby, Java (which I studied for 3 years during my degree), Node.js,
          Haskell and C++. I pick up new languages quickly and always strive
          to understand and use best practices from the outset
          * Thorough understanding and professional knowledge of using Git for
          version control (including different strategies for larga and small
          teams) and deployment. I use Git for all of my personal and
          professional projects, no matter how small
          * Comfortable working on the command line on Unix based operating
          systems

  %section.full-width.bottom
    :markdown
      # Interests

      Over the last couple of years I have become very interested in health and
      fitness, and completed the Brighton Marathon in 2013 and 2014. This year
      I'll also be taking part in my second [Tough Mudder](http://toughmudder.co.uk/)
      and competing in the Great South Run. I find running and going to the gym
      to be a great way of keeping myself fresh and motivated, and have really
      noticed the improvements to my working life as a result.

= parent_layout 'base'
