- content_for :title do
  CV

- content_for :body_class do
  cv

- content_for :content do  
  %h1 CV
    
  :markdown
    I am a software engineer based in Brighton, East Sussex. I currently work for [3ev](http://3ev.com/), an award-winning agency in nearby Hove.

  %section.full-width.big-list
    %h1 Experience
    
    %ul
      %li
        %h2
          %span.item Developer
          %span.location 3ev
          %span.date May 2012 - Present

        :markdown
          I have been working for 3ev as a developer for almost a year. I work mostly in PHP, using the Zend Framework and the Typo3 CMS, but I also do a lot of work on the client side using [JavScript MCV frameworks](http://backbonejs.org/).

          Recently I have taken a larger interest in the core infrastructure of our applications, and am helping to streamline the development and deployment process across all of our projects.

          I have proven myself to be a key member of the team at 3ev and now use my experience to provide support for new developers at the company, with both our internal tools and more general issues.

      %li
        %h2
          %span.item Web Developer
          %span.location North Laine Solutions Ltd.
          %span.date October 2010 - April 2012

        :markdown
          I worked for a digital media company based in Brighton. I was part of a small development team, and worked on a variety of bespoke projects, mostly as a PHP developer. I gained the position during my final year of university, and was offered a full-time role after completing my degree.

          The small size of the company meant that I regularly managed projects and interfaced with clients, and I improved my ability to convey technical details in an easy-to-understand manor.
        
      %li
        %h2
          %span.item Developer
          %span.location Animazoo Ltd.
          %span.date June 2011 - July 2011
        
        :markdown
          I worked as a C++ developer for a successful motion capture company. The role was unpaid, but I was given the opportunity to work on redesigning and building their core motion capture software. I was involved with initial designs and code structure, and helped to layout the core of the project using the Qt framework.

  %section.full-width.big-list
    %h1 Education
    
    %ul
      %li
        %h2
          %span.item BSc Computer Science: First Class Honours
          %span.location University of Sussex
          %span.date 2008 - 2011
        
        :markdown
          ### Relevant Courses

          Programming Paradigms, Program Analysis, Software Engineering, Mathematics for Computer Science Applications, Program Design, Technical Communication Skills, Databases, Limits of Computation, Concurrent Programming
      
          ### Dissertation - Translating a Game Engine: Improving 3D Games for the Android OS

          My dissertation project involved porting a Java 3D game engine for the Android OS to C++. The engine  was centered around an OpenGL renderer, and also included modules for collision detection, input handling and resource loading.

          The project was an exploration into language usage and performance on mobile devices. The resultant port showed definitive performance improvements, and also defined a framework for building games easily with C++ and Java for Android.

          Building a game engine in C++ was challenging, but taught me the intricacies of the language and of game engine programming. The engine is now available as an [open source](https://github.com/BenConstable/Sangwin-Game-Engine) project, and I am currently working to improve and extend it. A more in depth description of the project can be found in my [portfolio](#{portfolio_path}).

      %li
        %h2
          %span.item A-Levels
          %span.location Chichester College
          %span.date 2006 - 2008

        :markdown
          Mathematics - A, Physics - A, Music - B, Photography (AS-Level) - B

  %section.full-width.big-list
    %h1 Skills
    
    %ul
      %li
        :markdown
          ### PHP

          * 2 and a half years industry experience in PHP (5), with experience of using a variety of frameworks
          * 1 years industry experience of building large scale sites using the Typo3 CMS
          * Experience of custom CMS development and making use of existing tools like WordPress when appropriate
          * Working knowledge of many different third party APIs and services
          * Experience of working with ecommerce software and services, such as Magento, Google Checkout and PayPal
          * Good working knowledge of using PHP from the command line to build and deploy web applications

      %li
        :markdown
          ### Databases and Storage

          * Highly competent in working with both relational and 'NoSQL' databases
          * Good working knowledge of lightweight caching systems such as [Memcache](https://github.com/BenConstable/benconstable.co.uk-rails/blob/master/app/helpers/twitter_helper.rb#L15) and Redis

      %li
        :markdown 
          ### C/C++
        
          * 2 years C/C++ experience
          * Consistently strive for maintainable, efficient and recognisable code by following best practices described in [Effective C++](http://aristeia.com/books.html) (Scott Meyers) and [Design Patterns](http://en.wikipedia.org/wiki/Design_Patterns) (Erich Gamma et al)
          * Good understanding of using language features to build well optimised code
          * Experience of working without the STL by using custom built container classes
          * Solid grounding in game development through building a fully functional [C++ game engine](#{portfolio_path})
    
          ### Front End Web Development

          * Highly competent in building markup with HTML5 and CSS3, with a good understanding of browser pitfalls and graceful fallbacks to older technologies
          * Firm working knowledge of both pure JavaScript and selector-based frameworks such as jQuery and Zepto.
          * Comfortable building usable APIs with Ajax via Javascript and PHP
          * Working knowledge of CSS-based languages such as LESS and Stylus
          * Comfortable working with Markdown and other compile-to-HTML languages
          * Experience of building offline web apps for iPad using SQLite and HTML5 Caching APIs
      
      %li
        :markdown
          ### Other Programming Language Experience
          
          * 3 years of Java experience in a variety of contexts, including standalone desktop applications, 3D graphics and web development
          * Experience of pure functional programming using Haskell
      
      %li
        :markdown
          ### Server Administration

          * Comfortable working on a LAMP stack, including both setup and maintenance of Apache web servers from command line over SSH
          * Good understanding of other LAMP-style environments (e.g. WAMP and MAMP)
          * Experience of working with Windows IIS, for both PHP and ASP-based applications

      %li
        :markdown
          ### 3D Graphics
          
          * Good experience of building scenegraph renderers in OpenGL/OpenGL ES for both desktop and mobile (including textures, models and lighting)
          * Good understanding of 3D mathematics from both A-level and degree level courses
          * Good experience of using 3DS Max for modelling, texturing, rendering and animation
          * Experience of modelling and rendering in Blender
          * Experience of building optimised 3D models for the web using x3dom and HTML5
          * Keen interest in learning to use WebGL to build games and 3D applications in the browser

      %li
        :markdown
          ### Software Engineering

          * Good working knowledge of using Git for source control and [application deployment](https://github.com/BenConstable/Compose)
          * Experience of using unit test frameworks for development
          * Competent in both program and database design using UML
      
      %li
        :markdown
          ### Other Technologies

          * Experience of using the Java Native Interface (JNI) to integrate C/C++ code with Java programs
          * Basic experience of working with the Android OS
          * Comfortable working on either Mac OSX, Linux or Windows

  %section.full-width.bottom
    :markdown
      # Interests

      I am a keen runner, and am attempting my first marathon in Brighton this year after training for the best part of 12 months. I am an avid gamer, and enjoy playing video games for both their entertainment value and technological and artistic feats. I am also a casual musician and have played as a drummer, guitarist and bassist in a few small bands. I love to eat and am slowly attempting to work my through all of the restaurants in Brighton, which is no small feat.

= parent_layout 'base'
