- content_for :title do
  CV

- content_for :body_class do
  cv

- content_for :content do
  %h1 CV

  :markdown
    I am a software developer based in Brighton, East Sussex. I primarily work with PHP, and have really enjoyed seeing the language and its ecosystem flourish over the last couple of years.

    I am able to successfully design, deliver and maintain well architected software, after discussing requirements with
    clients and giving realistic and accurate quotes. I am also comfortable with leading other developers in helping to
    achieve those same goals.

  %section.full-width.big-list
    %h1 Employment

    %ul
      %li
        %h2
          %span.item Senior Developer
          %span.location 3rd Eye Vision Ltd.
          %span.date May 2012 - Present

        :markdown
          My role at 3ev has been to lead development on applications mainly written in PHP and MySQL.

          One of the largest projects I've worked on has been a booking system for a high-end holiday rental company. The application (built on Laravel) includes a bespoke CMS for managing properties, pricing, availability and bookings,
          and a REST API for integration with the company's customer-facing site (built on TYPO3). The system handles online payments via Stripe, and integrates with Salesforce to provide financial reporting and customer management.

          I have also worked on a digital subscription service, REST APIs and content management for IOS and Android apps,
          real-time search applications using Elasticsearch and Sphinx, and a variety of large and small CMS and e-commerce sites built on Wordpress, TYPO3 and Magento.

          I also regularly write frontend code using Javascript frameworks like Backbone.js, and enjoy using Sass and Bootstrap to efficiently build responsive and performant applications.

          Another important part of my role has been to improve our workflow and tooling, which is a particular passion of mine. I've introduced local development environments using Vagrant, which has helped to speed up development and make on-boarding new developers a simple process. I've integrated dependency management on the front and back end using NPM and Composer, which has streamlined our build process. I’ve used Capistrano to create automated, Git-based deployments for both Laravel and Wordpress. And I've also moved us to the "GitHub Flow" strategy for managing code review and integrating new features.

          During my time at 3ev I have interviewed, trained and supported several developers, and created documentation on the software and practises we use in order to make it as easy as possible for new staff to integrate with the development team.

      %li
        %h2
          %span.item Developer
          %span.location North Laine Solutions Ltd.
          %span.date October 2010 - April 2012

        :markdown
          I worked for a digital media company based in Brighton. I was part of a small development team, and worked on a variety of bespoke projects, mostly as a PHP developer. I gained the position during my final year of university,
          and was offered a full-time role after completing my degree. The small size of the company meant that I regularly managed projects and worked with clients, and I improved my ability to convey technical details in an easy-to-understand manner.

      %li
        %h2
          %span.item Developer
          %span.location Animazoo Ltd.
          %span.date June 2011 - July 2011

        :markdown
          I worked as a C++ developer for a successful motion capture company. The role was unpaid, but I was given the opportunity to work on redesigning and building their core motion capture software. I was involved with initial designs and code structure, and helped to layout the core of the project using the Qt framework.

  %section.full-width.big-list
    %h1 Education

    %ul
      %li
        %h2
          %span.item BSc Computer Science: First Class Honours
          %span.location University of Sussex
          %span.date 2008 - 2011

        :markdown
          Dissertation - Translating a Game Engine\: Improving 3D Games for the Android OS

      %li
        %h2
          %span.item A-Levels
          %span.location Chichester College
          %span.date 2006 - 2008

        :markdown
          Mathematics - A, Physics - A, Music - B, Photography (AS-Level) - B

      %li
        %h2
          %span.item GCSEs
          %span.location Manhood Community College
          %span.date 2001 - 2006

        :markdown
          11 A\*/A GCSEs

  %section.full-width
    %h1 Interests

    :markdown
      I am a keen runner, and will be taking part in my third Brighton Marathon in April. I enjoy video games, science
      fiction and pop culture. I also like to cook and love food, and I'm fortunate to live in a great city that provides
      me with near-infinite choices. I was also lucky enough to be able to spend eight weeks last year travelling around
      the USA and Canada, and hope to visit there again in the future.

= parent_layout 'base'
