- content_for :title do
  CV

- content_for :body_class do
  cv

- content_for :content do
  %h1 CV

  :markdown
    I am a software engineer based in Brighton, East Sussex. I currently work for [3ev](http://3ev.com/), an award-winning agency in nearby Hove.

  %section.full-width.big-list
    %h1 Employment

    %ul
      %li
        %h2
          %span.item Senior Developer
          %span.location 3ev
          %span.date May 2012 - Present

        :markdown
          My role at 3ev mostly entails coding new projects from scratch and
          seeing them through their first few months, but my senior position
          also means that I provide support to other developers and lead and plan
          development.

          The bulk of projects at 3ev are written either in [TYPO3](http://typo3.org/)
          or [Laravel](http://laravel.com/), so I spend a lot of time coding in
          PHP. I work across the stack though and so also regularly work at the
          OS level and on the frontend.

          I have spent a lot of time over the last 9 months improving tooling and
          our development workflow. I have incorporated dependency management,
          improved our asset pipeline and changed our Git workflow to the model
          used [by GitHub](http://scottchacon.com/2011/08/31/github-flow.html).
          I have also recently put an emhpasis on BDD and automated testing and
          deployment using [PhpSpec](http://www.phpspec.net/), [Behat](http://behat.org/)
          and [Capistrano](http://capistranorb.com/).

      %li
        %h2
          %span.item Developer
          %span.location North Laine Solutions Ltd.
          %span.date October 2010 - April 2012

        :markdown
          I worked for a digital media company based in Brighton. I was part of a small development team, and worked on a variety of bespoke projects, mostly as a PHP developer. I gained the position during my final year of university, and was offered a full-time role after completing my degree.

          The small size of the company meant that I regularly managed projects and interfaced with clients, and I improved my ability to convey technical details in an easy-to-understand manor.

      %li
        %h2
          %span.item Developer
          %span.location Animazoo Ltd.
          %span.date June 2011 - July 2011

        :markdown
          I worked as a C++ developer for a successful motion capture company. The role was unpaid, but I was given the opportunity to work on redesigning and building their core motion capture software. I was involved with initial designs and code structure, and helped to layout the core of the project using the Qt framework.

  %section.full-width.big-list
    %h1 Education

    %ul
      %li
        %h2
          %span.item BSc Computer Science: First Class Honours
          %span.location University of Sussex
          %span.date 2008 - 2011

        :markdown
          ### Relevant Courses

          Programming Paradigms, Program Analysis, Software Engineering,
          Mathematics for Computer Science Applications, Program Design,
          Technical Communication Skills, Databases, Limits of Computation,
          Concurrent Programming

          ### Dissertation - Translating a Game Engine: Improving 3D Games for the Android OS

          My dissertation project involved porting a Java 3D game engine for the
          Android OS to C++. [The engine](https://github.com/BenConstable/Sangwin-Game-Engine) was centered around an OpenGL renderer, and also included modules for
          collision detection, input handling and resource loading.

          The project was an exploration into language usage and performance on
          mobile devices. The resultant port showed definitive performance
          improvements, and also defined a framework for building games easily
          with C++ and Java for Android.

      %li
        %h2
          %span.item A-Levels
          %span.location Chichester College
          %span.date 2006 - 2008

        :markdown
          Mathematics - A, Physics - A, Music - B, Photography (AS-Level) - B

  %section.full-width.big-list
    %h1 Skills &amp; Software

    %ul
      %li
        %h2
          %span.item Languages

        :markdown
          * 4 years industry experience in PHP. Comfortable with a
          variety of frameworks (like Symfony, Silex and Laravel), and with building
          large scale enterprise and e-commerce applications using TYPO3 CMS and
          Magento. I keep up to date with the PHP ecoystem, and have a good working
          knowledge of the latest and most widely used libraries
          * Good knowledge of modern Javascript technologies and best practices
          * Experience of coding in a variety of other languages like Ruby,
          Java (which I studied for 3 years during my degree), Haskell and C++.
          I pick up new languages quickly and always strive to understand and
          use best practices from the outset
          * Years of experience of building markup using HTML and CSS and a range
          of preprocessors

        %h2
          %span.item Databases

        :markdown
          * Highly proficient in MySQL
          * Experienced in working with MongoDB, and knowing the benefits and
          drawbacks of NoSQL compared to tranditional relational databases

        %h2
          %span.item Performance &amp; scale

        :markdown
          * Solid understanding of application-level in-memory caching using
          tools like Memcache, and code caches like APC, to improve response times
          and allow applications to perform at scale
          * Good understanding of utilising HTTP caching to take advantage
          of accelerators like Varnish and CDNs like Cloudflare

        %h2
          %span.item Application-specific

        :markdown
          * Experience of building performant and up-to-date search applications
          using tools like Sphinx and Elasticsearch
          * Experience of working with a range of social APIs
          * Experience of working with a range of payment gateways and services,
          including a good knowledge of possible security concerns

        %h2
          %span.item Tools

        :markdown
          * Thorough understanding and years of professional experience of using
          Git for version control (including different strategies for large and
          small teams) and deployment
          * Experience of using a range of tools (like New Relic, Logstash and
          xhprof) to inspect the running state of an application and monitor errors,
          as well as tracking down performance bottlenecks
          * A good understanding of the principals of the [12 Factor-App](http://12factor.net/),
          their benefits and how to adhere to them
          * Experience of using numerous build and provisioning tools to ease
          development and ensure a correct working environment

  %section.full-width
    :markdown
      # Interests

      I am a keen runner, and I completed the Brighton Marathon in 2013 and 2014,
      and have run in a few other events around the south coast. This year
      I'll also be taking part in my third and fourth [Tough Mudders](http://toughmudder.co.uk/).
      I find running and keeping fit to be a great way of keeping myself fresh
      and motivated, and have really noticed the improvements to my working life
      as a result.

= parent_layout 'base'
