- content_for :body_class do
  home

- content_for :content do
  %h1 About me

  %section.full-width
    .left
      :markdown
        I am a software developer from Brighton, UK. I've been building web applications (mostly with PHP) for the last
        five years.

        I currently work as a Senior Developer for [3ev](http://3ev.com/), an award-winning agency based in Hove. Working
        at 3ev provides me with a great platform to improve my skillset and try out a lot of new things.

    .right
      :markdown
        I take pride in keeping up with latest technologies. You can find the source for this site [on GitHub](https://github.com/BenConstable/benconstable.co.uk-rails). It runs on [Rails](http://rubyonrails.org/) and uses [lots of other things](https://github.com/BenConstable/benconstable.co.uk-rails#whats-used).

        If you'd like to find out more about me and what I do, have a look at my [CV](#{cv_path}) and [GitHub profile](https://github.com/BenConstable). If you'd like to work with me, please don't hesitate to get in touch using the details
        below.

= parent_layout 'base'
