- content_for :title do
  500 Internal Server Error

- content_for :content do
  %h1 500 Internal Server Error
  %p
    :markdown
      Looks like something's gone wrong. I'm very sorry and everything should be working again soon, but in the mean time you can always check out my [GitHub profile](https://github.com/BenConstable/).

= parent_layout 'base'
